// @import '~@fluentui/react/dist/sass/References.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';

.formexercise {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

// .container {
//   text-align: center;
// }

.textField {
  margin-bottom: 16px; /* Adjust the margin as needed */
}

.submitButton {
    /* Center the button */
    display: block;
    margin: 0 auto;
    margin-top: 16px; /* Add vertical spacing above the button */
    text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}